PORT=3001
FRONTEND_URL=http://localhost:3000
DATABASE_URL="mysql://usuario:senha@localhost:3306/fantasy_point"
ROOT_EMAIL=pitersonranyer@gmail.com
JWT_SECRET=
JWT_EXPIRES_IN=1h
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
CARTOLA_API_URL=https://api.cartolafc.globo.com
CARTOLA_API_TIMEOUT_MS=5000
